@import "tailwindcss";

:root {
  --background: #151F27;
  --foreground: #f0f0f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-agern);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-agern), Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: none;
}

* {
  cursor: none !important;
}

.font-thin {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.cmd-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.cmd-scrollbar::-webkit-scrollbar-track {
  background: #000000;
  border-left: 1px solid #1a2332;
}

.cmd-scrollbar::-webkit-scrollbar-thumb {
  background: #00ff00;
  border-radius: 0;
}

.cmd-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00cc00;
}

.cmd-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #00ff00 #000000;
}
